.App {
  text-align: center;
}

#header-container {
  padding-top: 200px;
  max-width: 100%;
  background-image: url(./img/banner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.subtitle {
  padding-top: 150px;
  vertical-align: bottom;
}

#counters {
  color: white;
}

#card-container {
  margin-top: 50px;
}

.card {
  width: 200px;
}

.card-img-top {
  border-style: outset;
}

#logo, #counters {
  font-family: 'Barlow', sans-serif;
}

.subtitle {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

